# ===========================================
# Server
# ===========================================

PORT=8080

# ===========================================
# Gmail
# ===========================================

GMAIL_TOPIC_NAME=

# ===========================================
# Discord
# ===========================================

DISCORD_WEBHOOK_URL=

# ===========================================
# LINE
# ===========================================

LINE_CHANNEL_ACCESS_TOKEN=
LINE_USER_ID=